.logo a{
  color : white;
  text-decoration : none;
}
.a_tag{
  color : white;
  text-decoration : none;
}
.a_tag:hover{
  color:white;
}
tbody a, .paging a{
  color : black;
  text-decoration : none;
}
tbody a:hover, .paging a:hover{
  color : #3b527d;
  text-decoration : underline;
}
  .noticeboard{
    width : 80%;
    border : 2px solid black;
    text-align : center;
    border-collapse : collapse;
    margin-top : 20px;
  }
  .important{
    background : #3b527d;
    color : white;
  }
  .noticeboard thead{
    background : #333b4a;
    color : white;
  }
  .noticeboard tr{
    border-bottom : 1px solid gray;
  }
  .noticeboard th{
    padding : 10px 5px;
  }
  .noticeboard td{
    padding : 10px 5px;
    font-size : 14px;
  }
  .content{
    margin-bottom : 100px;
  }
  .write{
    width : 80%;
    text-align : right;
    margin-top : 20px;
  }
  .write a{
    padding : 2px 10px;
    border : 2px solid black;
    border-radius : 10px;
    text-decoration : none;
    color : white;
    background : #34495e;
  }
  .write input{
    padding : 2px 10px;
    border : 2px solid #34495e;
    border-radius : 10px;
    color : white;
    background : #34495e;
    cursor : pointer;
  }
  .block{
    font-weight : bold;
  }
  #title{
    width : 50%;
  }
  @media screen and (max-width :  800px){
    .noticeboard{
      width : 100%;
    }
    .th{
      font-size : 12px;
      width : 37px;
    }
    .write{
      width : 100%;
      margin : 10px 0;
    }
    #title{
      width : 50px;
    }
  }
